@import url("https://fonts.googleapis.com/css?family=Bitter|Bree+Serif");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitter", serif;
}

body {
  background: #3d566f;
  background-color: #faa74a;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%230088bb' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23d35500' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%230c7eac' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23ae6a1f' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2318749d' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23897e3e' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23256a8d' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%2364935e' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2331607e' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%233fa77d' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%233d566f' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%231abc9c' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.container {
  width: 100%;
  display: flex;
  height: 100vh;
}
.left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right {
  width: 50%;
  /* background: #3d566f; */
}
.masthead {
  /* background: white; */

  padding: 20px;
  max-width: 600px;
  border-radius: 8px;
  height: 80vh;
  color: black;
  max-height: 900px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4rem;
  font-family: "Bree Serif", serif;
  margin-bottom: 1rem;
}

img {
  width: 100%;
  max-width: 500px;
}

.maintenance {
  width: 30vh;
  height: 30vh;
  position: absolute;
  bottom: 0;
  right: 0;
}
.maintenance path {
  fill: white;
}

button {
  align-self: flex-start;
  padding: 30px;
  border-radius: 10px;
  /* border: unset; */
  font-size: 2rem;
  background: #ffbfb6;
  border: 5px solid #ffa0a0;
}


/* List of Colors
  blue: #08b
  green: #1abc9c
  orange: #faa74a
  red: #d35500
  dark_blue: #3d566f
*/