@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.container {
  position:relative;
  z-index:1;
  pointer-events: none;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.masthead { 
  pointer-events: all;
  padding: 20px;
  max-width: 500px;
  min-height: 300px;
  box-shadow: 1px 2px 13px 0px #0d3198e0;
  width: 100%;
  background: white;
  border-radius: 8px;
  border-top: 10px solid #002fb5a6;
  margin: 5px;

}


.background {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex: 1;
    background:white;
}

.white {
    background:white;
    width: 50%;
    position: absolute;
    left: 0;
    transform: skew(-10deg);
    z-index: 1;
}
.background * {
    height: 100vh;
    width: 50%;
}
.black {
    background: #496dd4;    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;

}

@media (max-width: 300px) {
    .black {
        width: 50%;
    }
}